<div class=container>

<div>
  <div>
    <h1>
      All emails
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
      
        <th>
          Recipient name
        </th>

        <th>
          Recipient company
        </th>

        <th>
          Occasion
        </th>

        <th>
          Email body
        </th>

        <th>
          Show Details
        </th>

      </tr>

      <% @list_of_messages.each do |a_message| %>
      <tr>
        <td>
        <%= a_message.recipient_name %>
        </td>

        <td>
        <%= a_message.recipient.company.name %>
        </td>

        <td>
        <%= a_message.occasion %>
        </td>

        <td>
        <%=raw a_message.email_body %>
        </td>

        <td>
          <a href="/display_email/<%= a_message.id %>">
            Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

</div>>
