<div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Email body
      </dt>
      <dd>
        <%= @the_message.email_body %>
      </dd>

      <dt>
        Occasion
      </dt>
      <dd>
        <%= @the_message.occasion %>
      </dd>

      <dt>
        Discussion topic
      </dt>
      <dd>
        <%= @the_message.discussion_topic %>
      </dd>

      <dt>
        Recipient
      </dt>
      <dd>
        <%= @the_message.recipient_id %>
      </dd>

      <dt>
        Llm prompt
      </dt>
      <dd>
        <%= @the_message.llm_prompt %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_message.sender_id %>
      </dd>

      <dt>
        Length
      </dt>
      <dd>
        <%= @the_message.length %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit message
    </h2>

    <form action="/modify_message/<%= @the_message.id %>"  method="post" >
      <div>
        <label for="email_body_box">
          Email body
        </label>

        <input type="text" id="email_body_box" name="query_email_body" value="<%= @the_message.email_body %>">
      </div>

      <div>
        <label for="occasion_box">
          Occasion
        </label>

        <input type="text" id="occasion_box" name="query_occasion" value="<%= @the_message.occasion %>">
      </div>

      <div>
        <label for="discussion_topic_box">
          Discussion topic
        </label>

        <input type="text" id="discussion_topic_box" name="query_discussion_topic" value="<%= @the_message.discussion_topic %>">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" value="<%= @the_message.recipient_id %>">
      </div>

      <div>
        <label for="llm_prompt_box">
          Llm prompt
        </label>

        <input type="text" id="llm_prompt_box" name="query_llm_prompt" value="<%= @the_message.llm_prompt %>">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" value="<%= @the_message.sender_id %>">
      </div>

      <div>
        <label for="length_box">
          Length
        </label>

        <input type="text" id="length_box" name="query_length" value="<%= @the_message.length %>">
      </div>

      <button>
        Update message
      </button>
    </form>
  </div>
</div>

<hr>
