<div>
  <div>
    <h2>
      Subject: <%= @email_subject %>
    </h2>

    <dl>
        <%= @email_body %>

      <br><br>

      <dt>
        Occasion 
      </dt>
      <dd>
        <%= @the_message.occasion %>
      </dd>

      <br>

      <dt>
        Discussion topics
      </dt>
      <dd>
        <%= @the_message.discussion_topic %>
      </dd>      <br>

      <dt>
      Recipient name
      </dt>
      <dd>
        <%= @the_message.recipient_name %>
      </dd>      <br>

      <dt>
      Recipient company
      </dt>
      <dd>
        <%= @the_message.recipient.company.name %>
      </dd>      <br>



      <dt>
      Recipient email
      </dt>
      <dd>
        <%= @the_message.recipient.email.downcase %>
      </dd>      <br>



    </dl>
  </div>
</div>

    <div>
      <div>
        <a href="/generate_email">
          Generate another email 
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete email
        </a>
      </div>
    </div>
