<div >
  <h1>
    Edit your profile
  </h1>

  <div>
    <form action="/modify_user" method="post">
      
      <div>
        <label for="first_name_box">First name</label>
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div> <br>

      <div>
        <label for="writing_sample_box">Writing sample (max 500 chars)</label> <br>
        <textarea id="writing_sample_box" name="query_writing_sample" maxlength = 500> <%= @current_user.writing_sample %> </textarea><br>

      </div>

      <p>Select your target industry:</p>
        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'consulting', current_user.default_industry.downcase == "consulting") %> Consulting
        <% end %><br>

        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'investment_banking', current_user.default_industry.downcase == "investment_banking") %> Investment Banking
        <% end %><br>

        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'technology', current_user.default_industry.downcase == "technology") %> Technology
        <% end %><br>

        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'other', current_user.default_industry.downcase == "other") %> Other
        <% end %><br>

       <br>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <br>

      <button>
        Update account
      </button>
      
    </form>
  </div>
</div>
