<div class=container>
  <h1>
    Edit your profile
  </h1>

  <div>
    <form action="/modify_user" method="post">
      
      <div>
        <label for="first_name_box">First name</label><br>
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div> <br>

      <div>
        <label for="writing_sample_box">Writing sample<br>
        Enter a thank-you email you've written to better emulate your tone and style (500 chars max) </label> <br>
        <textarea id="writing_sample_box" name="query_writing_sample" maxlength = 500 cols = "75" rows = "10"><%= @current_user.writing_sample %></textarea><br>

      </div>

      <p>Select your target industry:</p>
        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'consulting', current_user.default_industry.downcase == "consulting") %> Consulting
        <% end %><br>

        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'investment_banking', current_user.default_industry.downcase == "investment_banking") %> Investment Banking
        <% end %><br>

        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'technology', current_user.default_industry.downcase == "technology") %> Technology
        <% end %><br>

        <%= label_tag do %>
          <%= radio_button_tag(name = "query_default_industry", 'other', current_user.default_industry.downcase == "other") %> Other
        <% end %><br>

       <br>

      <div>
        <label for="password_box">Change password</label><br>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div><br>
    
      <div>
        <label for="password_confirmation_box">Confirm new password </label><br>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <br>

      <button>
        Update profile
      </button>
      
    </form>
  </div>
</div>
