<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>
    

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

  </head>

  <body>
  
  <div class=container>

  <!-- Navigation header links  -->


  <% if logged_in? %>
    <div class=align_right>
    Signed in as <%= User.where(id: session[:user_id])[0].first_name %> |
    <a href = "/user_sign_out">Sign out</a> 
    </div>

     <div>
      <a href = "/generate_email">Generate an email</a> |
      <a href = "/display_email">View all emails</a> |  
      <a href = "/edit_user_profile">Update profile</a>
      </div>


  <% else nil %>
  <% end %>
  </div>
  <%= yield %>
  </body>
</html>
